<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <vendo_payment>
                <active>0</active>
                <model>Vendo\Gateway\Model\PaymentMethod</model>
                <title>Vendo Gateway</title>
                <is_test>1</is_test>
                <cctypes>CUP,AE,VI,MC,DI,JCB,DN,MI</cctypes>
                <useccv>1</useccv>
                <group>vendo</group>
                <method_title>Pay with credit card or debit card</method_title>
                <can_use_checkout>1</can_use_checkout>
                <method_description>Vendo accepts the major credit cards and debit cards brands.</method_description>
                <payment_action>authorize_capture</payment_action>
            </vendo_payment>
            <vendo_sepa>
                <active>0</active>
                <model>Vendo\Gateway\Model\Sepa</model>
                <order_status>pending</order_status>
                <title>Sepa</title>
                <allowspecific>0</allowspecific>
                <group>vendo</group>
                <method_title>SEPA (EU direct debit)</method_title>
                <can_use_checkout>1</can_use_checkout>
                <payment_action>authorize_capture</payment_action>
            </vendo_sepa>
            <vendo_pix>
                <active>0</active>
                <model>PixFacade</model>
                <is_gateway>1</is_gateway>
                <can_use_internal>1</can_use_internal>
                <title>PIX (Brazil only)</title>
                <group>vendo</group>
                <can_use_checkout>1</can_use_checkout>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
            </vendo_pix>
        </payment>
    </default>
</config>
