<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="vendo_payment" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Vendo Gateway</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="method_title" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <comment>The title that the user sees in the checkout process.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="method_description" translate="label comment" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Description</label>
                    <comment>The description that the user sees in the checkout process.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="merchant_id" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Merchant ID</label>
                    <comment>Your Vendo Merchant ID. This will be provided by your account manager.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="site_id" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Site ID</label>
                    <comment>Your Vendo Site ID</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="api_secret" type="obscure" translate="label comment" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Vendo API Secret</label>
                    <comment>Vendo Gateway API Secret for real transactions.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="is_test">0</field>
                    </depends>
                </field>
                <field id="api_secret_tests" type="obscure" translate="label comment" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Vendo API Secret for tests</label>
                    <comment>Vendo Gateway API Secret for test transactions (only used if Vendo Test Mode is enabled)</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="is_test">1</field>
                    </depends>
                </field>
                <field id="is_test" translate="label comment" sortOrder="80" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Test Mode</label>
                    <comment>Enables Vendo Gateway Test Mode. No real transactions will be processed if you check this on.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="cc_types" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>Magento\Payment\Model\Source\Cctype</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label> <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label> <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="min_order_total" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                    <comment>Leave empty to disable limit</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="max_order_total" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                    <comment>Leave empty to disable limit</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
            <group id="vendo_sepa" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Vendo Gateway SEPA (EU direct debit)</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable SEPA</label>
                    <comment>Please make sure Vendo Gateway is configured. SEPA will be active only if Vendo site id, merchant id, keys is configured and enabled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="method_title" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <comment>The title that the user sees in the checkout process.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label> <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label> <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
            <group id="vendo_pix" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>PIX (Brazil only)</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable PIX</label>
                    <comment>Please make sure Vendo Gateway is configured. PIX will be active only if Vendo site id, merchant id, keys is configured and enabled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <comment>The title that the user sees in the checkout process.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
